{{ form_start(form) }}
   {{ form_row(form.idJoueur, { 'label': 'user name' }) }}
   {{ form_row(form.idEq, { 'label': 'nom equipe' }) }}
    {{ form_widget(form) }}
    <button class="btn">{{ button_label|default('Save') }}</button>
{{ form_end(form) }}
