{% extends 'front.html.twig' %}

{% block title %}Avis index{% endblock %}

{% block body %}
    <h1>Avis index</h1>

    <table class="table">
        <thead>
            <tr>
               
                <th>Note</th>
                     <th>Username</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for avi in avis %}
            <tr>
               
                <td>{{ avi.note }}</td>
                   <td>{{ avi.idUser.username }}</td>
                <td>
                    <a href="{{ path('app_avis_show', {'idAvis': avi.idAvis}) }}">show</a>
                    <a href="{{ path('app_avis_edit', {'idAvis': avi.idAvis}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_avis_new') }}">Create new</a>
{% endblock %}
